In [3]:
data <- read.csv("D:/JHow/Program/Statistic/elite.csv")
library(ggplot2)
library(dplyr)
library(tidyr)
str(data)

'data.frame':	187 obs. of  21 variables:
 $ gender                        : int  2 2 1 2 1 2 1 1 1 2 ...
 $ grade                         : int  3 3 4 3 4 4 3 3 3 4 ...
 $ school                        : int  1 4 6 2 4 4 2 3 3 2 ...
 $ isCoM                         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ hasMacBook                    : int  1 0 0 1 0 1 0 0 0 1 ...
 $ hasiPhone                     : int  1 1 1 0 0 1 0 0 1 1 ...
 $ hasSuit                       : int  0 1 0 1 0 1 1 0 1 0 ...
 $ timeToDressUp                 : int  45 35 15 5 5 5 25 15 25 15 ...
 $ cafePricePerWeek              : int  150 250 250 50 0 0 150 0 50 150 ...
 $ mealPricePerDay               : int  150 350 350 150 150 150 150 250 250 250 ...
 $ hasCreditCard                 : int  1 1 1 0 0 1 0 0 1 0 ...
 $ hasAttendedBusinessCompetition: int  0 0 0 0 0 0 1 0 1 0 ...
 $ EnglishProficiency            : int  4 4 3 NA 3 5 2 3 2 5 ...
 $ coursesInCoM                  : int  0 2 0 0 0 9 2 1 1 0 ...
 $ coursesInCoMPerYear           : num  0 0.667 0 0 0 ...
 $ GPA                           : num  3.7 3.92 3.2 3.33 4.29 2.4 3.6 3.9 3 3.4 ...
 $ exchangeAbroad                : int  0 1 0 0 0 0 0 0 0 0 ...
 $ numbersOfTravelingAbroad      : num  1.5 1.5 1.5 0 0 1.5 0 0 1.5 1.5 ...
 $ barPerMonth                   : int  0 2 0 0 0 0 0 0 0 0 ...
 $ club                          : int  7 1 3 2 7 7 2 2 5 5 ...
 $ interestInMentionedJob        : int  3 3 2 1 1 5 3 5 5 1 ...

## 樣本零：台大全體大二～大四學生

In [4]:
sample <- data

#### 此樣本性別分布

In [11]:
actualP <- c(0.5588, 0.4412)
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  gender n  p         actualP difference
1 1      95 0.5080214 0.5588  -0.0508
2 2      92 0.4919786 0.4412   0.0508

在性別分布上<br/>
誤差約在五個百分點

#### 此樣本學院分布

In [10]:
actualP <- c(0.1272, 
0.0983 ,
0.1086 ,
0.0969 ,
0.1261 ,
0.1403 ,
0.1315 ,
0.0839 ,
0.0528 ,
0.0241 
)
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

   school n  p          actualP difference
1   1     21 0.11229947 0.1272  -0.0149
2   2     19 0.10160428 0.0983   0.0033
3   3     20 0.10695187 0.1086  -0.0016
4   4     23 0.12299465 0.0969   0.0261
5   5     20 0.10695187 0.1261  -0.0191
6   6     22 0.11764706 0.1403  -0.0227
7   7     35 0.18716578 0.1315   0.0557
8   9     17 0.09090909 0.0839   0.0070
9  10      8 0.04278075 0.0528  -0.0100
10 11      2 0.01069519 0.0241  -0.0134

同樣，學院分布上，<br/>
誤差最多也在約五個百分點

#### 此樣本年級分布

In [12]:
actualP <- c(0.348899083,
0.329633028,
0.32146789)

sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  grade n  p         actualP   difference
1 2     63 0.3368984 0.3488991 -0.0120
2 3     70 0.3743316 0.3296330  0.0447
3 4     54 0.2887701 0.3214679 -0.0327

在年級分布上<br/>
誤差不超過五個百分點

## 樣本一：台大管院大二～大四學生

In [16]:
sample <- data %>% filter(school == 7)

#### 此樣本性別分布

In [17]:
actualP <- c(0.454291696,
0.545708304
)
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))%>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  gender n  p   actualP   difference
1 1      14 0.4 0.4542917 -0.0543
2 2      21 0.6 0.5457083  0.0543

管院大二到大四學生在性別比上，<br/>
誤差在五個百分點

#### 此樣本年級分布

In [18]:
actualP <- c(0.339148639,
0.337055129,
0.323796232
)
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))%>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  grade n  p         actualP   difference
1 2     12 0.3428571 0.3391486  0.0037
2 3     16 0.4571429 0.3370551  0.1201
3 4      7 0.2000000 0.3237962 -0.1238

在年級分布上，<br/>
樣本與母體分布的差距是較大的(12%)<br/>
因此在討論管院大二到大四學生時<br/>
樣本呈現出來的結果可能無法準確的反應大三與大四的實際狀況

## 樣本二：台大非管院大二～大四學生

In [20]:
sample <- data %>% filter(school != 7)

#### 此樣本性別分布

In [21]:
actualP <- c(0.574627654,
0.425372346
)
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))%>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  gender n  p         actualP   difference
1 1      81 0.5328947 0.5746277 -0.0417
2 2      71 0.4671053 0.4253723  0.0417

非管院大二到大四學生在性別分布不超過五個百分點

#### 此樣本學院分布

In [22]:
actualP <- c(0.1464 ,
0.1132 ,
0.1251 ,
0.1115 ,
0.1452 ,
0.1615 ,
0.0967 ,
0.0607 ,
0.0278 
)
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  school n  p          actualP difference
1  1     21 0.13815789 0.1464  -0.0082
2  2     19 0.12500000 0.1132   0.0118
3  3     20 0.13157895 0.1251   0.0065
4  4     23 0.15131579 0.1115   0.0398
5  5     20 0.13157895 0.1452  -0.0136
6  6     22 0.14473684 0.1615  -0.0168
7  9     17 0.11184211 0.0967   0.0151
8 10      8 0.05263158 0.0607  -0.0081
9 11      2 0.01315789 0.0278  -0.0146

在非管院的學院分布中，<br/>
跟母體的非管院學院分布差異不超過四個百分點，讚

#### 此樣本年級分布

In [23]:
actualP <- c(0.350374987,
0.32850956,
0.321115454
)
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  grade n  p         actualP   difference
1 2     51 0.3355263 0.3503750 -0.0148
2 3     54 0.3552632 0.3285096  0.0268
3 4     47 0.3092105 0.3211155 -0.0119

在性別分布上，<br/>
更是不超過三個百分點，<br/>
能驗證我們在非管院大二到大四的學生的抽樣有一定的代表性

## 樣本三：台大男性學生

In [27]:
sample <- data %>% filter(gender == 1)

#### 此樣本學院分布

In [28]:
actualP <- c(0.070760138,
0.122639961,
0.084715154,
0.095550813,
0.181579379,
0.137251683,
0.106879002,
0.129699557,
0.04071581,
0.023313085
)
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

   school n  p          actualP    difference
1   1      6 0.06315789 0.07076014 -0.0076
2   2     11 0.11578947 0.12263996 -0.0069
3   3     10 0.10526316 0.08471515  0.0205
4   4     10 0.10526316 0.09555081  0.0097
5   5     14 0.14736842 0.18157938 -0.0342
6   6     11 0.11578947 0.13725168 -0.0215
7   7     14 0.14736842 0.10687900  0.0405
8   9     14 0.14736842 0.12969956  0.0177
9  10      3 0.03157895 0.04071581 -0.0091
10 11      2 0.02105263 0.02331309 -0.0023

台大大二到大四男性的學院分布約在四個百分點以下

#### 此樣本年級分布

In [29]:
actualP <- c(0.350517156,0.330159251,0.319323592
)
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  grade n  p         actualP   difference
1 2     36 0.3789474 0.3505172  0.0284
2 3     30 0.3157895 0.3301593 -0.0144
3 4     29 0.3052632 0.3193236 -0.0141

台大大二到大四男性在年級分布更在三個百分點以下

## 樣本四：台大女性學生

In [33]:
sample <- data %>% filter(gender == 2)

#### 此樣本學院分布

In [36]:
actualP <- c(0.198585985,
0.067581618,
0.138906218,
0.09856519,
0.055936785,
0.144104803,
0.16261177,
0.02599293,
0.067997505,
0.025161156
)
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% rbind(c(11, 0, 0))  %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

   school n  p          actualP    difference
1   1     15 0.16304348 0.19858598 -0.0355
2   2      8 0.08695652 0.06758162  0.0194
3   3     10 0.10869565 0.13890622 -0.0302
4   4     13 0.14130435 0.09856519  0.0427
5   5      6 0.06521739 0.05593679  0.0093
6   6     11 0.11956522 0.14410480 -0.0245
7   7     21 0.22826087 0.16261177  0.0656
8   9      3 0.03260870 0.02599293  0.0066
9  10      5 0.05434783 0.06799750 -0.0136
10 11      0 0.00000000 0.02516116 -0.0252

台大大二到大四女學生<br/>
在學院分布中，管院的比例偏高(6.5%)<br/>
因此樣本會稍微受管院學生影響而較無整體代表性

#### 此樣本年級分布

In [37]:
actualP <- c(0.346849657,0.328966521,0.324183822
)
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))  %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  grade n  p         actualP   difference
1 2     27 0.2934783 0.3468497 -0.0534
2 3     40 0.4347826 0.3289665  0.1058
3 4     25 0.2717391 0.3241838 -0.0524

在年級分布的部分，大三學生的比例明顯高於大二與大四<br/>
因此此樣本容易受大三學生影響而較無整體代表性

## 樣本五：台大大二學生

In [39]:
sample <- data %>% filter(grade == 2)

#### 此樣本性別分布

In [40]:
actualP <- c(0.561398896,0.438601104
)
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  gender n  p         actualP   difference
1 1      36 0.5714286 0.5613989  0.01
2 2      27 0.4285714 0.4386011 -0.01

樣本中的大二學生，<br/>
在性別的分布上僅有一個百分點之差

#### 此樣本學院分布

In [42]:
actualP <- c(0.127267946,
0.096239811,
0.109387326,
0.101761767,
0.123849592,
0.147252169,
0.127793847,
0.083092296,
0.05232711,
0.019984223
)
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

   school n  p          actualP    difference
1   1      7 0.11111111 0.12726795 -0.0162
2   2      5 0.07936508 0.09623981 -0.0169
3   3      8 0.12698413 0.10938733  0.0176
4   4      6 0.09523810 0.10176177 -0.0065
5   5      5 0.07936508 0.12384959 -0.0445
6   6      6 0.09523810 0.14725217 -0.0520
7   7     12 0.19047619 0.12779385  0.0627
8   9      9 0.14285714 0.08309230  0.0598
9  10      4 0.06349206 0.05232711  0.0112
10 11      1 0.01587302 0.01998422 -0.0041

樣本中大二學生在管院、電資學院分布較多(6.27%, 5.98%)<br/>
生農學院分布較少(5.2%)<br/>
以學院分布來看代表性略為不足

## 樣本六：台大大三學生

In [44]:
sample <- data %>% filter(grade == 3)

#### 此樣本性別分布

In [45]:
actualP <- c(0.559699416,0.440300584

)
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  gender n  p         actualP   difference
1 1      30 0.4285714 0.5596994 -0.1311
2 2      40 0.5714286 0.4403006  0.1311

樣本中的大三學生，<br/>
是此次抽樣中偏差最為嚴重的一群，<br/>
尤其在性別分布上<br/>
出現了高達13%的差距

#### 此樣本學院分布

In [46]:
actualP <- c(0.123573615,
0.096576677,
0.108266073,
0.094350125,
0.130809908,
0.136654606,
0.134428055,
0.085722238,
0.054550515,
0.025883663
)
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

   school n  p          actualP    difference
1   1      8 0.11428571 0.12357361 -0.0093
2   2      7 0.10000000 0.09657668  0.0034
3   3      7 0.10000000 0.10826607 -0.0083
4   4     12 0.17142857 0.09435013  0.0771
5   5      4 0.05714286 0.13080991 -0.0737
6   6      8 0.11428571 0.13665461 -0.0224
7   7     16 0.22857143 0.13442805  0.0941
8   9      4 0.05714286 0.08572224 -0.0286
9  10      3 0.04285714 0.05455052 -0.0117
10 11      1 0.01428571 0.02588366 -0.0116

在學院分布上，<br/>
醫學院、管院、工學院的差距也較大(7.71%, 9.41%, -7.37%)<br/>
造成在大三學生這個母體中的代表性不足

## 樣本七：台大大四學生

In [56]:
sample <- data %>% filter(grade == 4)

#### 此樣本性別分布

In [57]:
actualP <- c(0.555079909,0.444920091


)
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

  gender n  p        actualP   difference
1 1      29 0.537037 0.5550799 -0.018
2 2      25 0.462963 0.4449201  0.018

樣本中大四學生的性別分布差距母體不到兩個百分點

#### 此樣本學院分布

In [61]:
actualP <- c(0.130707763,
0.102454338,
0.1081621,
0.094178082,
0.123858447,
0.136415525,
0.132420091,
0.083047945,
0.051369863,
0.026826484
)
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample)) %>% rbind(c(11, 0, 0))%>% cbind(actualP) %>% mutate(difference = round(p - actualP, 4))

   school n  p          actualP    difference
1   1      6 0.11111111 0.13070776 -0.0196
2   2      7 0.12962963 0.10245434  0.0272
3   3      5 0.09259259 0.10816210 -0.0156
4   4      5 0.09259259 0.09417808 -0.0016
5   5     11 0.20370370 0.12385845  0.0798
6   6      8 0.14814815 0.13641553  0.0117
7   7      7 0.12962963 0.13242009 -0.0028
8   9      4 0.07407407 0.08304794 -0.0090
9  10      1 0.01851852 0.05136986 -0.0329
10 11      0 0.00000000 0.02682648 -0.0268

此樣本在工學院的分布較高(7.98%)<br/>
有一定程度會影響樣本的代表性