In [2]:
data <- read.csv("D:/JHow/Program/Statistic/elite.csv")
library(ggplot2)
library(dplyr)
library(tidyr)
str(data)

'data.frame':	187 obs. of  21 variables:
 $ gender                        : int  2 2 1 2 1 2 1 1 1 2 ...
 $ grade                         : int  3 3 4 3 4 4 3 3 3 4 ...
 $ school                        : int  1 4 6 2 4 4 2 3 3 2 ...
 $ isCoM                         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ hasMacBook                    : int  1 0 0 1 0 1 0 0 0 1 ...
 $ hasiPhone                     : int  1 1 1 0 0 1 0 0 1 1 ...
 $ hasSuit                       : int  0 1 0 1 0 1 1 0 1 0 ...
 $ timeToDressUp                 : int  45 35 15 5 5 5 25 15 25 15 ...
 $ cafePricePerWeek              : int  150 250 250 50 0 0 150 0 50 150 ...
 $ mealPricePerDay               : Factor w/ 6 levels "150","250","350",..: 1 3 3 1 1 1 1 2 2 2 ...
 $ hasCreditCard                 : int  1 1 1 0 0 1 0 0 1 0 ...
 $ hasAttendedBusinessCompetition: int  0 0 0 0 0 0 1 0 1 0 ...
 $ EnglishProficiency            : int  4 4 3 NA 3 5 2 3 2 5 ...
 $ coursesInCoM                  : int  0 2 0 0 0 9 2 1 1 0 ...
 $ coursesInCoMPerYear           : num  0 0.667 0 0 0 ...
 $ GPA                           : num  3.7 3.92 3.2 3.33 4.29 2.4 3.6 3.9 3 3.4 ...
 $ exchangeAbroad                : int  0 1 0 0 0 0 0 0 0 0 ...
 $ numbersOfTravelingAbroad      : num  1.5 1.5 1.5 0 0 1.5 0 0 1.5 1.5 ...
 $ barPerMonth                   : int  0 2 0 0 0 0 0 0 0 0 ...
 $ club                          : int  7 1 3 2 7 7 2 2 5 5 ...
 $ interestInMentionedJob        : int  3 3 2 1 1 5 3 5 5 1 ...

## 樣本零：台大全體大二～大四學生

In [41]:
sample <- data

#### 此樣本性別分布

In [42]:
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  gender n  p
1 1      95 0.5080214
2 2      92 0.4919786

母體比例為:<br/>
男:55.8%<br/>
女:44.2%<br/>

#### 此樣本學院分布

In [43]:
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

   school n  p
1   1     21 0.11229947
2   2     19 0.10160428
3   3     20 0.10695187
4   4     23 0.12299465
5   5     20 0.10695187
6   6     22 0.11764706
7   7     35 0.18716578
8   9     17 0.09090909
9  10      8 0.04278075
10 11      2 0.01069519

#### 此樣本年級分布

In [44]:
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  grade n  p
1 2     63 0.3368984
2 3     70 0.3743316
3 4     54 0.2887701

## 樣本一：台大管院大二～大四學生

In [5]:
sample <- data %>% filter(school == 7)

#### 此樣本性別分布

In [6]:
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  gender n  p
1 1      14 0.4
2 2      21 0.6

#### 此樣本學院分布

In [7]:
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  school n  p
1 7      35 1

#### 此樣本年級分布

In [8]:
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  grade n  p
1 2     12 0.3428571
2 3     16 0.4571429
3 4      7 0.2000000

## 樣本二：台大非管院大二～大四學生

In [9]:
sample <- data %>% filter(school != 7)

#### 此樣本性別分布

In [10]:
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  gender n  p
1 1      81 0.5328947
2 2      71 0.4671053

#### 此樣本學院分布

In [11]:
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  school n  p
1  1     21 0.13815789
2  2     19 0.12500000
3  3     20 0.13157895
4  4     23 0.15131579
5  5     20 0.13157895
6  6     22 0.14473684
7  9     17 0.11184211
8 10      8 0.05263158
9 11      2 0.01315789

#### 此樣本年級分布

In [12]:
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  grade n  p
1 2     51 0.3355263
2 3     54 0.3552632
3 4     47 0.3092105

## 樣本三：台大男性學生

In [19]:
sample <- data %>% filter(gender == 1)

#### 此樣本性別分布

In [20]:
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  gender n  p
1 1      95 1

#### 此樣本學院分布

In [21]:
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

   school n  p
1   1      6 0.06315789
2   2     11 0.11578947
3   3     10 0.10526316
4   4     10 0.10526316
5   5     14 0.14736842
6   6     11 0.11578947
7   7     14 0.14736842
8   9     14 0.14736842
9  10      3 0.03157895
10 11      2 0.02105263

#### 此樣本年級分布

In [22]:
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  grade n  p
1 2     36 0.3789474
2 3     30 0.3157895
3 4     29 0.3052632

## 樣本四：台大女性學生

In [23]:
sample <- data %>% filter(gender == 2)

#### 此樣本性別分布

In [24]:
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  gender n  p
1 2      92 1

#### 此樣本學院分布

In [25]:
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  school n  p
1  1     15 0.16304348
2  2      8 0.08695652
3  3     10 0.10869565
4  4     13 0.14130435
5  5      6 0.06521739
6  6     11 0.11956522
7  7     21 0.22826087
8  9      3 0.03260870
9 10      5 0.05434783

#### 此樣本年級分布

In [26]:
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  grade n  p
1 2     27 0.2934783
2 3     40 0.4347826
3 4     25 0.2717391

## 樣本五：台大大二學生

In [27]:
sample <- data %>% filter(grade == 2)

#### 此樣本性別分布

In [28]:
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  gender n  p
1 1      36 0.5714286
2 2      27 0.4285714

#### 此樣本學院分布

In [29]:
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

   school n  p
1   1      7 0.11111111
2   2      5 0.07936508
3   3      8 0.12698413
4   4      6 0.09523810
5   5      5 0.07936508
6   6      6 0.09523810
7   7     12 0.19047619
8   9      9 0.14285714
9  10      4 0.06349206
10 11      1 0.01587302

#### 此樣本年級分布

In [30]:
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  grade n  p
1 2     63 1

## 樣本六：台大大三學生

In [31]:
sample <- data %>% filter(grade == 3)

#### 此樣本性別分布

In [32]:
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  gender n  p
1 1      30 0.4285714
2 2      40 0.5714286

#### 此樣本學院分布

In [33]:
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

   school n  p
1   1      8 0.11428571
2   2      7 0.10000000
3   3      7 0.10000000
4   4     12 0.17142857
5   5      4 0.05714286
6   6      8 0.11428571
7   7     16 0.22857143
8   9      4 0.05714286
9  10      3 0.04285714
10 11      1 0.01428571

#### 此樣本年級分布

In [34]:
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  grade n  p
1 3     70 1

## 樣本七：台大大四學生

In [35]:
sample <- data %>% filter(grade == 4)

#### 此樣本性別分布

In [36]:
sample %>% group_by(gender) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  gender n  p
1 1      29 0.537037
2 2      25 0.462963

#### 此樣本學院分布

In [37]:
sample %>% group_by(school) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  school n  p
1  1      6 0.11111111
2  2      7 0.12962963
3  3      5 0.09259259
4  4      5 0.09259259
5  5     11 0.20370370
6  6      8 0.14814815
7  7      7 0.12962963
8  9      4 0.07407407
9 10      1 0.01851852

#### 此樣本年級分布

In [38]:
sample %>% group_by(grade) %>% summarise(n=n()) %>% mutate(p = n / nrow(sample))

  grade n  p
1 4     54 1